/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300..700&display=swap');

/* GLOBALS */
{% set cssContainerWidth = '1340px' %}

/* FONT SETTINGS */
{% set cssFontFamily = 'Manrope' %}
{% set cssFontFamilyHeadings = 'Manrope' %}
{% set cssBaseFontSize = '18px' %}

/* COLORS */
{% set cssPrimaryColor = '#1354F5' %}
{% set cssSecondaryColor = '#378AF7' %}
{% set cssBgDark = '#000761' %}
{% set cssBgLight = '#f8f8f8' %}
{% set cssFontColor = '#000000' %}

/* COMPONENTS */ 
{% include "../css/vendors/normalize.css" %}
{% include "../css/components/navbar.css" %}

/* TEMP */
body {
    font-family: {{cssFontFamily}};
}

.container {
    max-width: {{cssContainerWidth}}; 
    margin: 0 auto;
} 