.flex { display: flex; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }

.items-center { align-items: center; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }

.gap-sm { gap: 5px; } 
.gap-md { gap: 10px; } 
.gap-lg { gap: 20px; }
.gap-xl { gap: 30px; }

.mw-800 {max-width: 800px;}
.mw-1000 {max-width: 1000px;}

.mx-auto {margin: 0 auto;}